main{
    /* border: 1px solid gray; */
    width: 1050px;
}
.hr{
    color: lightgrey;
}
.top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.top-left-menu {
    display: flex;
    list-style: none;
}
.top-left-menu a{
    text-decoration: none;
    margin-right: 30px;
    color: black;
    font-weight: bold;
}
#research{
    border: 1px solid lightgray;
    height: 25px;
    background-color: lightgray;
}
.top-right-menu{
    display: flex;
    list-style: none;
}
.top-right-menu a{
    text-decoration: none;
    margin-right: 30px;
    color: black;
    font-weight: bold;
}
#top-right-menu3{
    border: 1px solid lightseagreen;
    background-color: lightseagreen;
    height: 25px;
}
#top-right-menu3 a {
    color: white;
}
.banner-wrap{
    width: 1050px;
    height: 300px;
    border-radius: 7px;
    display: flex;
    overflow: hidden;
    position: relative;
}
.banner-box{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0px;
}
.banner-box li{
    list-style-type: none;
}
.banner-img{
    width: 1150px;
    height: 300px;
    border-radius: 7px;
}
.prev,
.next{
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    background-color: white;
    font-size: 25px;
    top: 130px;
    border-radius: 50%;
    cursor: pointer;
}
.prev:hover,
.next:hover{
    background-color: beige;
}
.prev{
    left: 0px;
    padding-right: 5px;
}
.next{
    right: 0px;
    padding-left: 5px;
}
.prev02{
    left: 0px;
    padding-right: 5px;
}
.next02{
    right: 0px;
    padding-left: 5px;
}
.prev02,
.next02{
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    background-color: white;
    font-size: 25px;
    top: 130px;
    border-radius: 50%;
    cursor: pointer;
    
}
.prev02:hover,
.next02:hover{
    background-color: beige;
}
.prev03{
    left: 0px;
    padding-right: 5px;
}
.next03{
    right: 0px;
    padding-left: 5px;
}
.prev03,
.next03{
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    background-color: white;
    font-size: 25px;
    top: 130px;
    border-radius: 50%;
    cursor: pointer;
    
}
.prev03:hover,
.next03:hover{
    background-color: beige;
}
.prev04{
    left: 0px;
    padding-right: 5px;
}
.next04{
    right: 0px;
    padding-left: 5px;
}
.prev04,
.next04{
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    background-color: white;
    font-size: 25px;
    top: 80px;
    border-radius: 50%;
    cursor: pointer;
    
}
.prev04:hover,
.next04:hover{
    background-color: beige;
}
.prev05{
    left: 0px;
    padding-right: 5px;
}
.next05{
    right: 0px;
    padding-left: 5px;
}
.prev05,
.next05{
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    background-color: white;
    font-size: 25px;
    top: 80px;
    border-radius: 50%;
    cursor: pointer;
    
}
.prev05:hover,
.next05:hover{
    background-color: beige;
}
.first-body-tap{
    position: relative;
    overflow: hidden;
}
.fbt-container{
    position: relative;
    overflow: hidden;
}
.top-middle-menu-container{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: -40px;
}
.top-package{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.top-text{
    text-align: center;
}
.top-middle-menu-container a{
    text-decoration: none;
}
.top-middle-menu-container div{
    color: gray;
}
.fist-body-menu-container{
    display: flex;
    list-style: none;
    margin-left: -50px;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.fb-package{
margin-left: 20px;
flex: 0 0 0;
}
.fist-body-menu-container div{
    font-weight: bold;
    color: gray;
}
.fist-body-menu-container img{
    width: 240px;
    height: auto;
    border-radius: 10px;
}

.second-body-tab{
    display: flex;
}
.second-body-left-container{
    margin-right: 40px;
    /* border: 1px solid lightgray; */
    height: 400px;
}

.sblc-01-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sblc-01-container img{
    height: auto;
    width: 100px;
    margin-left: 30px;
}
.sblc-01-container h6,
.sblc-01-container h5{
    margin-top: 5px;   
}
.sblc-02-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}
.sblc-02-container img{
    height: auto;
    width: 100px;
    margin-left: 30px;
}
.sblc-03-container{
    display: flex;
    margin-top: -20px;
}
.sblc-01-text{
    color: gray;
}
.sblc-01-text h5{
    color: black;
}
.sblc-02-text{
    color: gray;
}
.sblc-02-text h5{
    color: black;
}
.sblc-03-text{
    color: gray;
}
.sblc-03-text h5{
    color: black;
}
.sbrc-01-text{
    color: gray;
}
.sbrc-01-text h4{
    color: black;
}
.sbrc-02-text{
    color: gray;
}
.sbrc-02-text h4{
    color: black;
}
.second-body-right-container{
    /* border: 1px solid lightgray; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}
.sbrc-01-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sbrc-01-container img{
    margin-right: 30px;
    height: 180px;
    width: auto;
    border-radius: 10px;
}
.sbrc-02-container{
    display: flex;
    align-items: center;
}
.sbrc-02-container img{
    margin-right: 30px;
    height: 180px;
    width: auto;
    border-radius: 10px;
}
.tbt-container{
    overflow: hidden;
    position: relative;
}

.tbt-menu-container{
    display: flex;
    list-style: none;
    transition: transform 0.5s ease-in-out;
}
.tbt-menu-container{
    margin-left: -30px;
}
.tbt-menu-container img{
    height: auto;
    width: 240px;
    border-radius: 10px;
}
.tbt-package
{
    text-align: left;
    margin-right: 20px;
    position: relative;
}

.tbt-inner{
    position: absolute;
    bottom:30px;
    color: white;
    font-weight: bold;
    font-size: small;
    left: 10px;

}
.tbt-name{
    font-weight: bold;
    color: gray;
}
.fbt-menu-container{
    display: flex;
    list-style: none;
    margin-left: -30px;
    transition: transform 0.5s ease-in-out;
}
.fbt-menu-container img{
    height: auto;
    width: 240px;
    border-radius: 10px;
}

.fbt-package{
    margin-right: 20px; 
    font-weight: bold;
    color: gray;  
    
}
.fit_container{
    display: flex;
}
.fit-inner1{
    margin-left: 5px;
    color: gray;
    margin-top: 10px;
}
.fit-inner1 h5{
    margin-top: -10px;
}
.fit-right-container{
    margin-left: 150px;
}
.fit-list-container{
 margin-left: -50px;   
}
.fit-1{
    display: flex;   
}
.fit-1 li{
    list-style: none;
    margin-right: 30px;
    border: 1px ;
    padding: 10px 10px 10px 10px;
    background-color: lightcyan;
    border-radius: 15px;
}
.fit-1 a{
    text-decoration: none;
    color: lightskyblue;
    font-weight: bold;
    
}
.fit-2{
    display: flex;
    margin-top: 30px;

}
.fit-2 li{
    list-style: none;
    margin-right: 30px;
    border: 1px ;
    padding: 10px 10px 10px 10px;
    background-color: lightcyan;
    border-radius: 15px;
}
.fit-2 a{
    text-decoration: none;
    color: lightskyblue;
    font-weight:bold ;
}
.sbt-menu-container{
    display: flex;
    margin-left: -30px;
    transition: transform 0.5s ease-in-out;
}
.sbt-menu-container li{
    list-style: none;
}
.sbt-menu-container a{
    text-decoration: none;
}
.sbt-menu-container img{
    height: auto;
    width: 328px;
    margin-right: 20px;
    border-radius: 10px;
}
.sbt-menu-container div{
    font-weight: bold;
    color: gray;
}
.sbt-container{
    overflow: hidden;
    position: relative;
}
.bottom-top-container{
    display: flex;
}
.bt-left-container{
    margin-left: 10px;
}
.bt-left-container h2{
    color: lightblue;
}
.store-container{
    display: flex;
    margin-left: -30px;
}
.store-container li{
    border: 1px ;
    margin-right: -20px;
    margin-left: 30px;
    background-color: lightblue;
    list-style: none;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
}
.store-container a{
    color: white;
    text-decoration: none;
}
.introducing-nav-container{
    display: flex;
    margin-left: 210px;
}
.menu-container1,
.menu-container2,
.menu-container3,
.menu-container4{
    margin-left: 0px;
}
.introducing-nav-container li{
    list-style: none;
    margin-top: 10px;
}
.introducing-nav-container a{
    text-decoration: none;
    color: lightslategray;
    font-weight: bold;
}
.bottom-bottom-container{
    display: flex;
    align-items: center;
}
.intro-1-nav-container{
    display: flex;
    margin-left: -10px;
}
.intro-1-nav-container li{
    list-style: none;
}
.intro-1-nav-container a{
    text-decoration: none;
    color: gray;
    margin-right: 50px;
    margin-left: -30px;
    font-weight: bold;
}
.intro-1-container div{
    font-size: small;
    color: gray;
}
footer{
    margin-bottom: 100px;
}
.bottom-bottom-left-container ul{
    display: flex;
    margin-right: 30px;
}
.bottom-bottom-left-container a{
    text-decoration: none;
}
.bottom-bottom-left-container li{
    list-style: none;
    margin: 15px;
}
